@import "tailwindcss";

@theme {
  --font-sans: var(--font-poppins), sans-serif;

  --animate-shake: shake 0.4s ease-in-out;
  --animate-patinha-pulo: patinhaPulo 0.6s ease-out;

  @keyframes shake {
    0%,
    100% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(-12deg);
    }
    50% {
      transform: rotate(12deg);
    }
    75% {
      transform: rotate(-6deg);
    }
  }

  @keyframes patinhaPulo {
    0% {
      transform: translateY(10px) rotate(-10deg);
      opacity: 0;
    }
    60% {
      transform: translateY(-5px) rotate(5deg);
      opacity: 1;
    }
    100% {
      transform: translateY(0) rotate(0deg);
      opacity: 1;
    }
  }
}

html {
  scroll-behavior: smooth;
}
